.home {
  background: url(../images/home/background-home-mobile.jpg) no-repeat center;
  background-size: cover;
  box-sizing: content-box;
}
.home__main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.home__subtitle {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.home__title {
  font-size: 80px;
  font-family: 'Bellefair';
  color: #FFF;
  margin: 0;
}
.home__paragraph {
  font-family: 'Barlow';
  font-size: 15px;
  margin: 0;
  line-height: 180%;
}
.home__main-button {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  margin: 119px auto;
  border: none;
  font-family: 'Bellefair';
  font-size: 18px;
}
.home__main-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .home {
    background: url(../images/home/background-home-tablet.jpg) no-repeat center;
    background-size: cover;
    box-sizing: content-box;
  }
  .home__main {
    padding: 128px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__text {
    margin: 0 80px;
  }
  .home__title {
    font-size: 144px;
  }
  .home__paragraph {
    font-size: 18px;
  }
  .home__main-button {
    width: 272px;
    height: 272px;
    margin: 66px auto 0 auto;
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .home {
    background: url(../images/home/background-home-desktop.jpg) no-repeat center;
    background-size: cover;
    box-sizing: content-box;
  }
  .home__main {
    flex-direction: row;
    padding: 128px 165px;
    margin: 289px 0 0 0;
  }
  .home__text {
    margin: 0;
    width: 49%;
    text-align: left;
  }
  .home__main-button {
    margin: 35.5px 0 35.5px 298px;
    align-self: flex-end;
  }
}
